
/* top navigation css */

#topNav{
  padding: 25px;
  text-align: center;
}

#TNul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#TNli {
  display: inline;
}

@media screen and (min-width: 601px) {
  #TNa{
    color: #642ca9;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 250%;
    padding: 4%;
  }
  #topNav{
    margin-top: 2%;
  }

  #earthIMG{
    width: 5%;
    height: auto;
    margin-top: 2%;
  }
  #earthIMG2{
    width: 10%;
    height: auto;
    margin-top: 2%;
  }
}

@media screen and (max-width: 600px) {
  #TNa{
    color: #642ca9;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
    font-size: 470%;
    padding: 2%;
  }

  #topNav{
    margin-top: 5%;
  }

  #earthIMG{
    width: 10%;
    height: auto;
  }
  #earthIMG2{
    width: 20%;
    height: auto;
    margin-top: 2%;
  }
}





/* side nav bar */

#topics{
  /* setting the spacing, color, font, and size for side nav bar title */
  color: #ff36ab;
  font-size: 300%;
  font-family: 'Jost', sans-serif;
}

#DVbg{
  background-color: #ff36ab;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 15px 50px;
}



.sidenav {
  /* setting the size, positioning, spacing, color, and animation for the side nav bar itself  */
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  /* setting the spacing, removing underlines, size, font, color, display and animation for the links in the side nav bar  */
  text-decoration: none;
  font-size: 130%;
  color: #642ca9;
  display: block;
  transition: 0.3s;
  font-family: 'Inter', sans-serif;
}

.sidenav p{
  color: white;
  padding: 10px;
  font-family: 'Jost', sans-serif;
}

.sidenav a:hover {
  /* setting color for when the side nav bar links are hovered over  */
  color: #ff36ab;
}

.sidenav .closebtn {
  /* setting the positioning, size, and spacing for the side nav bar close button */
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* media query for edge cases in window height  */
@media screen and (max-height: 450px) {
  /* adjusting the side nav bar spacing for special cases  */
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

@media screen and (min-width: 601px) {
  .sidenav p {
    font-size: 160%;
  }
}

@media screen and (max-width: 600px) {
  .sidenav p {
    font-size: 140%;
  }
}

/* big image and mention styling */

#bigIMGHolder{
  text-align: center;
}
#mention{
  text-align:center;
  color: #642ca9;
  font-family: 'Jost', sans-serif;
}



@media screen and (min-width: 601px) {
  #bigIMG{
    width: 55%;
    height: auto;
    margin-top: 5%;
  }
  #mention{
    margin-top:7%;
    font-size: 150%;
  }
  #spacer{
    padding: 10%;
  }
}

@media screen and (max-width: 600px) {
  #bigIMG{
    width: 70%;
    height: auto;
    margin-top: 5%;
  }
  #mention{
    margin-top: 10%;
    font-size: 80%;
  }
  #spacer{
    padding: 20%;
  }
}

