 #stateLabel{
  font-family: 'Inter', sans-serif;
}

.titles{
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

#state{
  font-family: 'Inter', sans-serif;
  background-color: #642ca9;
  border-radius: 12px;
  color: white;
}

#name1, #name2{
  color: #ff36ab;
}

#phone1, #phone2{
  color: black;
}

#subButton{
  border-radius: 12px;
  padding: 6px 12px;
  font-family: 'Jost', sans-serif;
  background-color: #642ca9;
  color: white;
  border: none;
}

@media screen and (min-width: 601px) {
  #subButton {
    margin-top: 2%;
  }
  #stateLabel{
    font-size: 130%;
  }
  .titles{
    font-size: 130%;
  }
  #name1, #name2{
    font-size: 160%;
  }
  #state{
    font-size: 130%;
  }
}

@media screen and (max-width: 600px) {
  #subButton {
    margin-top: 5%;
  }
  #stateLabel{
    font-size: 120%;
    margin-top: 5%;
  }
  .titles{
    font-size: 130%;
  }
  #name1, #name2{
    font-size: 130%;
  }
  #state{
    font-size: 120%;
  }
}